// component styles are encapsulated and only applied to their components
* {
  color: black;
}

a.disabled {

  background-color: grey;
}

a:hover.disabled {
  background-color: grey;
}

a:active.disabled {
  background-color: grey;
}